{% extends "main_template.twig" %}

{% block main_content %}
  <article>
    <h1>Akustická kytara</h1>
    <section>
      <h3>Historie</h3>
      <p>
        Název kytara pochází z řeckého slova kithara.
        Kithara byl taktéž drnkací nástoj, ale pokládal se na stůl.
        Byla to obodba dnešního cimbálu.
        Kytara byla vynalezena na Blízkém Východě a do Evropy se dostala někdy v 8.-9. století.
        Prvně se v Evropě objevila ve Španělsku.
        V té době byla hojně rozšířená loutna, která se dá označovat za příbuznou kytary.
        Další teorie o vzniku kytary je založená na přetvoření fiduly na drnkací nástroj.
        Fidula byla středověký smyčcový hudební nástoj s trojdílným trupem, krkem a kolíčníkem.
        O fidule jsou první zmínky v textech z 9. století. Mohou tedy platit obě teorie.
      </p>
      <p>
        Ve Španělsku se kytara dodnes považuje za domácí nástroj.
        Odtud se kytara rozšířila do Francie a Itálie.
        Kytara zažila největší boom v 18. a 19. století.
        Zájem o ní na začátku 20. století začal upadat, ale díky novým hudebním stylům a následné elektrifikaci,
        se kytara stala jedním z nejpoužívanějším hudebním nástojem.
      </p>
      <a href="http://www.bsmny.org/exploring-music/features/iid/guitar/classical.php">[zdroj]</a>
      <h3>Druhy akustické kytary</h3>
      <p>
        Kytary s nilonovými strunami:
      </p>
      <ul>
        <li>Barokní</li>
        <li>Klasická akutická</li>
        <li>Romantická (používaná v době Romantismu)</li>
        <li>Flamenco</li>
      </ul>
      <p>
        Kytary s ocelovými strunami:
      </p>
      <ul>
        <li>S ocelovýmí strnami</li>
        <li>Archtop</li>
        <li>Dvanáctistrunná</li>
        <li>Resonator</li>
      </ul>
      <figure id="guitar_img">
        <img src="img/acustic.jpg" alt="acustic guitar">
        <figcaption>Acustic guitar</figcaption>
      </figure>
    </section>
  </article>
{% endblock %}