{% extends "main_template.twig" %}

{% block main_content %}
  <article>
    <h1>Elektrická kytara</h1>
    <section>
      <h3>Historie</h3>
      <p>
        Experimenty, které vedly k vytvoření elektrické kytary, začaly přibližně ve 20. letech 20. století. Tyto expreimenty spočívaly ve snímání zvuku pomocí vestavěných mirkofonů či gramafonové přenosky. První elektrickou kytaru vyrobila firma Rickenbacker v roce 1931. Kytara nesla název Frying pan.
      </p>
      <p>
        Elektrická kytara se začala rozširovat z důvodu nevýraznosti klasické akutické kytary v orchestrech a sborech. Elektrická kytara byla proslavena díky hudebníkovi Charliemu Christianovi (v roce 1990 byl uveden do Rock and Roll Hall of Fame).
      </p>
      <p>
        Ve 40. letech se elektrická kytara začala vyrábět z masivního dřeva. Nejslavnější modely elektrických kytar byly od firem Fender (modely Telecaster a Stratocaster) a Gibson (od ní nejznámější model Les Paul)
      </p>
      <a href="http://www.bsmny.org/exploring-music/features/iid/guitar/rock.php">[zdroj]</a>

      <h3>Slavní hudebníci, kteří hráli na elektrickou kytaru:</h3>
      <ul>
        <li>Jimmy Page - Led Zeppelin</li>
        <li>Frank Zappa</li>
        <li>Brian Adams</li>
        <li>David Gilmore - Pink Floyd</li>
        <li>Brian May - Queen</li>
      </ul>
      <figure id="guitar_img">
        <img src="img/electric.jpg" alt="electric guitar">
        <figcaption>Acustic guitar</figcaption>
      </figure>
    </section>
  </article>

{% endblock %}