{% extends "main_template.twig" %}

{% block main_content %}
    <section id="maincol">
      <h1>Vítejte na GuitarWiki</h1>
      <p>Kytara: (noun) obvykle šestistrunný drnkací hudební nástroj.</p>
      <p id="citace">
        <i>"The guitar is a small orchestra. It is polyphonic. Every string is a different color, a different voice."</i>
        —Andres Segovia
      </p>
      <p id="red">Tato stránka byla vytvořena v rámci studovaného předmětu web design. Jedná se pouze o studentský projekt.</p>
    </section>
{% endblock %}