<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main_css.css" rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>
    {# header #}
    <header>
      <div id="main_header"></div>
      <nav id="menu">
        <ul id="menu_items" class="menu_items">
          <li {%if index %} id="active" {% endif %}><a href="index.php">Domů</a></li>
          <li {%if acustic %} id="active" {% endif %}><a href="acustic.php">Akustická</a></li>
          <li {%if electric %} id="active" {% endif %}><a href="electric.php">Elektrická</a></li>
          <li {%if jazz %} id="active" {% endif %}><a href="jazz.php">Jazzová</a></li>
          <li {%if blues %} id="active" {% endif %}><a href="blues.php">Bluesová</a></li>
        </ul>
      </nav>
    </header>
    {# ------ #}
    <main>
      {% block main_content %}{%endblock%}
    </main>
  {# footer #}
  <footer id="footer">
    <p>Copyright &copy; Vít Jašek, Leon Bálint</p>
  </footer>
  {# ------ #}
</body>
</html>